#couponForm {
    margin-bottom: 0;
    border-bottom: none;
    border-radius: .5rem .5rem 0 0;
    background-color: #f8f9fa;
}

#checkoutForm {
    margin-top: 0;
    border: 1px solid #dee2e6;
    border-top: none;
    border-radius: 0 0 .5rem .5rem;
    padding: 1rem;
}